<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body>
    <div class="mainwrapper">
      <section>
        <div class="menu">
          <% include partials/content/dashboardmenu.ejs %>
        </div>
        <div class="main right">
            <% if(title == 'Dashboard') { %>
                <% include partials/content/dashboard.ejs %>
            <% } else if(title == "Watchlist") { %>
                <% include partials/content/watchlist.ejs %>
            <% } else { %>
                <% include partials/content/details.ejs %>
            <% } %>
            <% include partials/template/footer.ejs %>
        </div>
      </section>
    </div>
    <% include partials/template/jsdefaults.ejs %>
</body>
</html>
