<div class="movies">
    <div class="header red darken-4">
        <h4 class="iblock">Search Movies</h4>
    </div>
    <div class="searchbox">
        <form action="">
            <div class="row">
                <div class="col s2"></div>
                <div class="input-field col s8">
                    <input required id="search" type="text" class="validate">
                    <label for="search">Search</label>
                </div>
                <div class="col s2"></div>
            </div>
        </form>
    </div>
</div>
