<div class="watchlist">
    <div class="header red darken-4">
        <h4 class="iblock">My Watchlists</h4>
    </div>
    <div class="drawer center">
        <a href="/Dashboard/Movies" class="waves-effect waves-light btn">Add new movie to Watchlist</a>
    </div>
    <div class="row list">
        <div class="col m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://image.tmdb.org/t/p/w500/tZjVVIYXACV4IIIhXeIM59ytqwS.jpg" alt="">
                </div>
                <div class="card-content">
                    <h6>Rogue One: A Star Wars Story</h6>
                </div>
                <div class="card-action center">
                    <a class="waves-effect waves-light btn">Info</a>
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://image.tmdb.org/t/p/w500/5EW4TR3fWEqpKsWysNcBMtz9Sgp.jpg" alt="">
                </div>
                <div class="card-content">
                    <h6>Passengers</h6>
                </div>
                <div class="card-action center">
                    <a class="waves-effect waves-light btn">Info</a>
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://image.tmdb.org/t/p/w500/iWRKYHTFlsrxQtfQqFOQyceL83P.jpg" alt="">
                </div>
                <div class="card-content">
                    <h6>Finding Dory</h6>
                </div>
                <div class="card-action center">
                    <a class="waves-effect waves-light btn">Info</a>
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://image.tmdb.org/t/p/w500/lubzBMQLLmG88CLQ4F3TxZr2Q7N.jpg" alt="">
                </div>
                <div class="card-content">
                    <h6>The Secret Life of Pets</h6>
                </div>
                <div class="card-action center">
                    <a class="waves-effect waves-light btn">Info</a>
                </div>
            </div>
        </div>
    </div>
</div>
